@import "global/normalize.scss";
@import "global/fonts.scss";
@import "blocks/btn.scss";
@import "mixins.scss";

@import "blocks/container.scss";

@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/contents.scss";
@import "blocks/popular-product.scss";
@import "blocks/about.scss";
@import "blocks/reviews.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/modal-content.scss";

@import "blocks/page-title.scss";
@import "blocks/catalog.scss";
@import "blocks/product.scss";
@import "blocks/video.scss";
@import "blocks/form.scss";
