.about {
  width: 320px;
  margin: 0 auto;
}

.about__wrapper {
  padding: 30px;
  padding-top: 41px;
  // background-color: #E3DBFF; /*временное оформление*/
}

.about__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.about__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  padding-top: 84px;
}

.about__list--column-2 {
  margin-top: -3px;
}

@media (min-width: 768px) {
  .about {
    width: auto;
    margin: 0;
  }

  .about__wrapper {
    padding: 0;
    padding-top: 68px;
    padding-bottom: 140px;
    @include container;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
    margin-left: -4px;
    margin-bottom: -10px;
  }

  .about__item {
    font-size: 20px;
    line-height: 22px;
    padding-top: 111px;
    width: 300px;
  }

  .about__list {
    width: 330px;
    display: inline-block;
    vertical-align: top;
  }

  .about__list--column-2 {
    margin-top: 2px;
  }
}

@media (min-width: 1150px) {
  .about__wrapper {
    padding-top: 62px;
    padding-bottom: 137px;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
    padding-left: 175px;
  }

  .about__list--column-1 {
    padding-left: 175px;
    margin-right: 15px;
    margin-top: 2px;
  }
}
