.btn {
  font: inherit;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  font-weight: 800;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid #444444;
  text-align: center;
  background: transparent;
  cursor: pointer;

  &:hover {
    background-color: #444444;
    color: #ffffff;
  }

  &:active {
    color: #7c7c7c;
  }
}
