.catalog {
  width: 320px;
  margin: 0 auto;
}

.catalog__wrapper {
  padding: 30px;
  padding-bottom: 15px;
  // background-color: #E3DBFF; /*временное оформление*/
}

@media (min-width: 768px) {
  .catalog {
    width: auto;
    margin: 0;
  }

  .catalog__wrapper {
    padding: 0;
    padding-top: 84px;
    @include container;
  }
}

@media (min-width: 1150px) {
  .catalog__wrapper {
    padding-top: 130px;
    padding-bottom: 0;
  }
}
