.contacts {
  width: auto;
  margin: 0 auto;
}

.contacts__btn {
  width: 260px;
  margin: 0 auto;
}

.contact__wrapper {
  padding-top: 35px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.contacts__address {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  border-collapse: collapse;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.contacts__name-address {
  width: 75px;
  vertical-align: top;
  padding-bottom: 29px;
}

.contacts__map {
  width: auto;
  margin-bottom: 40px;
  position: relative;
  height: 456px;
}

.contacts__img {
  display: block;
  margin: 0 auto;
}

.contacts__map iframe {
  position: absolute;
  top: 0;
  width: 100%;
}

.contacts__place {
  padding-right: 20px;
}

.contacts__link-email {
  padding-bottom: 29px;
}

.contacts__link-email a {
  color: #444444;
  padding-bottom: 4px;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
  &:hover {
    color: #46c1ae;
    border-bottom: 1px solid #46c1ae;
  }
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .contacts {
    width: auto;
    margin: 0 ;
  }

  .contact__wrapper {
    padding: 0;
    padding-top: 60px;
    padding-bottom: 58px;
    margin-left: -6px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;

    width: 668px;
    margin: 0 auto;
    margin-bottom: 48px;
    position: relative;

    &::before{
      position: absolute;
      content: "";
      display: block;
      top: -15px;
      right: 0;
      width: 47px;
      height: 82px;
      background-image: url(../img/icon-flag.svg);
      background-repeat: no-repeat;
    }
  }

  .contacts__address {
    margin-bottom: 55px;
  }

  .contacts__map {
    margin-bottom: 55px;
  }

  .contacts__btn {
    width: 228px;
    margin: 0 auto;
  }

  .contacts__address {
    font-size: 17px;
    width: 668px;
  }

  .contacts__address tr {
    display: block;
    width: 298px;

  }

  .contacts__email {
    float: left;
  }

  .contacts__street {
    float: right;
    padding-right: 35px;
  }
}

@media (min-width: 1150px) {
  .contact__wrapper {
    position: relative;
    padding-top: 73px;
    padding-bottom: 106px;
    @include container;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 145px;
    margin-left: 171px;
    padding-top: 25px;
    margin-bottom: 4px;

    &::before{
      top: 61px;
      left: -108px;
    }
  }

  .contacts__address {
    width: 298px;
    margin-left: 175px;
    margin-bottom: 77px;
  }

  .contacts__address tr {
    display: table-row;
  }

  .contacts__email {
    float: none;
    margin-bottom: 50px;
  }

  .contacts__street {
    float: none;
    padding-right: 35px;
  }

  .contacts__map {
    margin: 0;
    position: absolute;
    top: 71px;
    right: 0;
    width: 525px;
    height: 457px;
  }

  .contacts__btn {
    margin: 0;
    margin-left: 175px;
  }
}
