.contacts {
  padding-top: 40px;
  padding-bottom: 39px;
  box-shadow: 0 0 0 3px red inset; /*временное оформление*/
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.contacts__address {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 35px;
}

.contacts__name-address {
  width: 75px;
  vertical-align: top;
}

.contacts__map {
  width: 320px;
  margin-left: -30px;
  margin-bottom: 35px;
}
