.contents {
  // background-image: url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% -16%;
  width: auto;
  margin: 0 auto;
  background-color: #fafafa;
}

.contents__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 488px;
  // background-color: #FFDBE5; /*временное оформление*/
}

.contents__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  width: 250px;
  margin-top: 70px;
  padding-left: 25px;
  padding-right: 25px;
}

.contents__links {
  width: auto;
  display: flex;
  flex-direction: column;
}

.contents__link a {
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  display: block;
  width: 170px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 30px;
  padding-right: 120px;
  padding-left: 30px;

  &:active {
    opacity: 0.3;
  }
}

.contents__link--toys {
  background-color: #56c3b2;
  &:hover {
    background-color: #46c1ae;
  }
}

.contents__link--interior {
  background-color: #63d1bb;

  &:hover {
    background-color: #59d5bc;
  }
}

@media (min-width: 768px) {
  .contents {
    padding-top: 50px;
    width: auto;
  }

  .contents__wrapper {
    height: 689px;
    @include container;
  }

  .contents__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 99px;
    width: 500px;
  }

  .contents__links {
    flex-direction: row;
    // display: block;
    display: flex;

  }

  .contents__link a {
    // display: block;
    width: 170px;
    padding-right: 134px;
    font-size: 20px;
    line-height: 30px;
    // padding-left: 30px;
    // padding-top: 27px;
    // padding-bottom: 28px;
  }

  .contents__link--toys {
    float: right;
  }

  .contents__link--interior {
    float: left;
  }
}

@media (min-width: 1150px) {
  .contents__wrapper {
    height: 691px;
    @include container;
  }

  .contents__title {
    font-size: 53px;
    line-height: 57px;
    min-width: 700px;
    margin-top: 103px;
  }

  .contents__link a {
    padding-right: 350px;
    padding-left: 39px;
    width: 136px;
  }
}
