.form {
  width: 320px;
  margin: 0 auto;
}

.form__wrapper {
  padding: 30px;
  padding-bottom: 55px;
  padding-top: 23px;
  // background-color: #F7FFDB; /*временное оформление*/
}

.form__description {
  font-size: 13px;
  color: #444444;
  margin: 0;
  margin-bottom: 25px;
}

.form__list {
  list-style: none;
  padding: 0;
}

.form__radio,
.form__checkbox,
.form__name {
  line-height: 18px;
  font-weight: 700;
}

.form__title {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
  position: relative;
}

.form__title::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 0px;
  width: 198px;
  height: 1px;
  background: #62d1ba;
}

.form__radio {
  position: relative;
  padding-left: 62px;
  padding-top: 12px;
  cursor: pointer;
  display: block;
}

.form__toggle {
  display: none;
}

.form__radio::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 1px;
  width: 35px;
  height: 35px;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid #444444;
}

.form__radio:hover::before {
  border: 2px solid #62d1ba;
}

.form__radio:active::before {
  border: 2px solid #c7c7c7;
}

.form__toggle:checked + label::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 13px;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
}

.form__list--type .form__item {
  margin-bottom: 12px;
}

.form__list--type {
  margin-top: 21px;
  margin-bottom: 44px;
}

.form__list--color {
  margin-top: 32px;
  margin-bottom: 40px;
}

.form__list--color .form__item {
  margin-bottom: 37px;
}

.form__checkbox {
  position: relative;
  padding-left: 62px;
  cursor: pointer;
}

.form__flag {
  display: none;
}

.form__checkbox::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0px;
  width: 36px;
  height: 35px;
  border: 2px solid #444444;
}

.form__flag:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 8px;
  width: 22px;
  height: 10px;
  border-radius: 1px;
  background-color: transparent;
  border: 3px solid #000000;
  transform: rotate(-45deg);
  border-top: 0;
  border-right: 0;
  box-shadow: 1px 1px 0 #ffffff,
  0px -1px 0 #ffffff inset;
}

.form__checkbox:hover::before {
  border: 2px solid #62d1ba;
}

.form__checkbox:active::before {
  border: 2px solid #c7c7c7;
}

.form__list--name {
  margin-top: 25px;
  margin-bottom: 32px;
}

.form__list--name input {
  padding-bottom: 13px;
  padding-top: 15px;
  border: none;
  border-bottom: 2px solid #000000;
}

.form__list--name .form__item {
  margin-bottom: 19px;
}

.form__list--tel {
  margin-bottom: 33px;
}

.form__field {
  background: transparent;
  border: none;
  width: 260px;
  border-bottom: 2px solid #000000;

  padding-bottom: 15px;

  &--tel {
    width: 220px;
    padding-top: 10px;
    margin-top: -5px;
    padding-right: 40px;
  }

  &--email {
    width: 220px;
    margin-top: -5px;
    padding-top: 10px;
    padding-right: 40px;
  }
}

.form__list--email {
  margin-bottom: 33px;
}

.form__field {
  color: #444444;
  &:hover {
    border-bottom: 2px solid #62d1ba;
  }
  &:focus {
    border-bottom: 2px solid #62d1ba;
  }
}

.form__list--wishes {
  margin-bottom: -4px;
}

.form__field--wishes {
  margin-top: 7px;
  width: 226px;
  height: 108px;
  resize: none;
  border: 2px solid #444444;
  padding: 15px;
  &:hover {
    border: 2px solid #62d1ba;
  }
  &:focus {
    border: 2px solid #62d1ba;
  }
}

.form__note {
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 31px;
}

.form__btn {
  display: block;
  margin: 0 auto;
  padding-left: 45px;
  padding-right: 45px;
}

@media (min-width: 768px)  {
  .form {
    width: auto;
    margin: 0;
  }

  .form__item-content-container,
  .form__item-wrapper--type,
  .form__item-wrapper--name,
  .form__item-wrapper--wishes,
  .form__footer {
    @include container;
  }

  .form__item-wrapper--color,
  .form__item-wrapper--tel,
  .form__item-wrapper--email {
    background-color: #f1f1f1;
  }

  .form__title::before {
    content: none;
  }

  .form__description {
    @include container;
    margin-top: 50px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 40px;
  }

  .form__wrapper {
    padding: 0px;
    padding-bottom: 55px;
    padding-top: 27px;
  }

  .form__item-wrapper,
  .form__item-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form__item-wrapper--type .form__title {
    top: 19px;
  }

  .form__item-wrapper--color .form__title {
    top: 50px;
  }

  .form__item-wrapper--name .form__title {
    top: 25px;
  }

  .form__radio,
  .form__checkbox,
  .form__name {
    font-size: 19px;
  }

  .form__radio {
    left: 21px;
    padding-left: 84px;
    margin-bottom: 46px;
  }

  .form__list--type {
    margin-right: 190px;
    margin-bottom: 23px;
  }

  .form__radio::before {
    top: -3px;
    left: 5px;
    width: 48px;
    height: 48px;
  }

  .form__toggle:checked + label::after {
    top: 12px;
    left: 20px;
    width: 22px;
    height: 22px;
  }

  .form__list--color {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 65px;
    margin-left: 120px;
  }

  .form__list--color .form__item {
    width: 220px;
    &:nth-child(2n+1) {
      margin-right: 42px;
    }
  }

  .form__checkbox {
    padding-left: 82px;
    left: 3px;
    margin-bottom: 0px;
  }

  .form__list--color .form__item {
    margin-bottom: 52px;
  }

  .form__checkbox::before {
    top: -13px;
    left: 0px;
    width: 50px;
    height: 48px;
  }

  .form__flag:checked + label::after {
    top: 0px;
    left: 13px;
    width: 28px;
    height: 15px;
  }

  .form__list--color {
    margin-bottom: 11px;
  }

  .form__item-wrapper--name {
    padding-top: 26px;
  }

  .form__list--name label {
    margin-right: 25px;

  }

  .form__list--name input {
    width: 354px;
    margin-bottom: 9px;
    padding-left: 18px;
  }

  input.form__field--name {
    width: 406px;
  }

  .form__item-wrapper--name {
    margin-bottom: -7px;
  }

  .form__field--tel,
  .form__field--email {
    padding-left: 18px;
    padding-right: 70px;
    width: 413px;
    margin-bottom: -20px;
  }

  .form__item-wrapper--tel {
    padding-top: 41px;
  }

  .form__item-wrapper--tel .form__title {
    top: 6px;
  }

  .form__item-wrapper--email .form__title {
    top: 6px;
  }

  .form__item-wrapper--email {
    padding-bottom: 32px;
  }

  .form__item-wrapper--wishes {
    padding-top: 26px;
  }

  .form__item-wrapper--wishes .form__title {
    top: 25px;
  }

  .form__field--wishes {
    width: 467px;
  }

  .form__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 43px;
    padding-bottom: 0px;
  }

  .form__btn {
    margin: 0;
    height: 52px;
    margin-top: 8px;
    padding: 0 30px;
  }

  .form__note {
    font-size: 17px;
    line-height: 30px;
  }

  .form__wrapper {
    padding-bottom: 32px;
  }
}

@media (min-width: 1150px) {
  .form__wrapper {
    padding-top: 71px;
  }

  .form__title {
    margin-left: 65px;
  }

  .form__description {
    position: relative;
    width: 700px;
  }

  .form__list--type {
    margin-right: 565px;
  }

  .form__list--color .form__item {
    width: 263px;
    &:nth-child(2n+1) {
      margin-right: 0;
    }
  }

  .form__list--color {
    margin-left: 63px;
  }

  .form__list--name input {
    width: 556px;
  }

  input.form__field--name {
    width: 608px;
  }

  .form__list--name {
    margin-right: 175px;
  }

  .form__list--name input {
    margin-left: -5px;
  }

  .form__field--tel,
  .form__field--email {
    width: 612px;
    margin-right: 175px;
  }

  .form__field--wishes {
    width: 667px;
    margin-right: 175px;
  }

  .form__footer {
    width: 700px;
    padding-top: 39px;
  }
}
