.main-nav {
  position: relative;
}

.main-nav__wrapper {
  width: 100%;
  background-color: #ffffff;
}

.main-nav__toggle {
  display: block;
  font-size: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 3;
  top: -50px;
  left: 50%;
  margin-left: 106px;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0px;
  width: 21px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000,
  0 12px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 11px;
    right: -3px;
    width: 28px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list-promo {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__list,
.main-nav__user-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  border-bottom: 1px solid #ececec;
}

.main-nav__list {
  border-top: 1px solid #ececec;
}

.main-nav__item a {
  display: block;
  font-weight: 700;
  text-decoration: none;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;
  padding-right: 0;
  color: #000000;
  width: 244px;
  margin: 0 auto;
}

.main-nav__item a {
  &:hover {
    color: #666666;
  }

  &:active {
    color: #b2b2b2;
  }
}

a.main-nav__item-active {
  &:hover {
    color: #000000;
  }

  &:active {
    color: #000000;
  }
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    width: 100%;
    top: -8px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }

  .main-nav__item a {
    margin: 0;
    width: auto;
  }

  .main-nav__item {
    border-bottom: none;
  }

  .main-nav__list {
    display: flex;
    padding-top: 26px;
    border-top: none;
  }

  .main-nav__list a {
    font-size: 15px;
  }

  .main-nav__user-list {
    display: flex;
    position: absolute;
    right: 0;
    top: -80px;
    min-height: 88px;
  }

  .main-nav__item a {
    padding: 0;
  }

  .main-nav__item--catalog {
    padding-right: 35px;
  }

  .main-nav__item--basket {
    padding-top: 30px;
    padding-left: 83px;
    border-left: 1px solid #ececec;
  }

  .main-nav__item--search {
    font-size: 0;
    width: 81px;
    border-left: 1px solid #ececec;
  }

  .page-header__shipping {
    margin-top: 17px;
  }
}

@media (min-width: 1150px) {
  .main-nav__list {
    position: absolute;
    padding: 0;
    top: -88px;
  }

  .main-nav__item--basket {
    padding-top: 31px;
  }

  .main-nav__item--catalog {
    border-right: 1px solid #ececec;
  }

  .main-nav__item--order {
    margin-left: 35px;
  }

  .main-nav__list a {
    margin-top: 39px;
    margin-bottom: 34px;
    font-size: 17px;
  }

  .main-nav__list-promo {
    display: block;
    display: flex;
    margin-top: 25px;
    font-size: 15px;
  }

  .main-nav__item--new-product {
    margin-right: 60px;
  }
}
