.main-nav {
  // display: none;
  box-shadow: 0 0 0 3px green inset; /*временное оформление*/
  width: 320px;
  margin: 0 auto;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  border-bottom: 1px solid #ececec;
}

.main-nav__item a {
  display: block;
  font-weight: 700;
  text-decoration: none;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;
  padding-right: 0;
  color: #000000;
}
