.modal-content {
  display: none;
  margin: 0 auto;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 50px;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
  box-shadow: 0px 4px 21px 2px rgba(0,0,0,0.3);
  position: fixed;
  width: 100%;
  top: 50%;
  margin-top: -169px;
  z-index: 10;
}

.modal-content--show {
  display: block;
}

.modal-content--overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 3;
}

.modal-content--overlay-show {
  display: block;
}

.modal-content__form {
  width: 260px;
  margin: 0 auto;
}

.modal-content__title {
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.modal-content__description {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  text-align: center;
  margin-bottom: 36px;
}

.btn--modal {
  margin: 0 auto;
  width: 260px;
  background-color: #63d1bb;
  color: #ffffff;
  border: none;
}

.modal-content__toggle {
  display: none;
}

.modal-content__item-size {
  display: inline-block;
  width: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.modal-content__sizes {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.modal-content__size {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -14px;
    left: -39px;
    width: 78px;
    height: 48px;
    background: transparent;
    border: 2px solid #ececec;
    cursor: pointer;
  }

  &[for="M"]::before {
    left: -33px;
  }

  &[for="L"]::before {
    left: -34px;
  }
}

.modal-content__size:hover::before {
  border: 2px solid #c7c7c7;
}

.modal-content__size:active::before {
  border: 2px solid #62d1ba;
}

.modal-content__toggle:checked + .modal-content__size::before {
  border: 2px solid #62d1ba;
}

@media (min-width:  768px) {
  .modal-content {
    border: 1px solid #c6c6c6;
    width: 354px;
    padding: 0 108px;
    padding-bottom: 48px;
    padding-top: 35px;
    left: 50%;
    margin-left: -284px;
  }

  .modal-content__form {
    width: auto;
    margin: 0;
  }

  .modal-content__title {
    font-size: 30px;
    line-height: 57px;
  }

  .modal-content__description {
    margin-top: 12px;
    font-size: 17px;
  }

  .modal-content__size::before {
    width: 100px;
  }

  .modal-content__size {
    &::before {
      left: -52px;
      width: 108px;
    }

    &[for="M"]::before {
      left: -48px;
    }

    &[for="L"]::before {
      left: -51px;
    }
  }

  .btn--modal {
    width: 350px;
    padding-bottom: 16px;
  }
}
