.page-header__wrapper {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.page-header__top-menu {
  min-height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  padding-top: 22px;
  margin-left: 116px;
  width: 86px;
  height: 35px;
}

.page-header__logo-link {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__shipping {
  display: none;
}

@media (min-width: 768px) {
  .page-header {
    width: auto;
    margin: 0;
    border-bottom: 1px solid #ececec;
  }

  .page-header__logo {
    // padding-top: 22px;
    margin-left: 0px;
    width: 113px;
    height: 46px;
  }

  .page-header__top-menu {
    min-height: 88px;
    width: auto;
    margin: 0;
  }

  .page-header__wrapper {
    @include container;
    border-bottom: none;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__shipping {
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: #444444;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 1150px) {
  .page-header__logo {
    padding-top: 8px;
    width: 149px;
    height: 72px;
    margin: 0 auto;
  }
}
