.page-title {
  background-color: #f1f1f1;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;

  box-shadow: 0 0 0 3px red inset; /*временное оформление*/
}

.page-title--content {
  font-size: 27px;
  line-height: 30px;
  margin: 0;
}
