.page-footer {
  width: auto;
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  text-align: center;
  padding-bottom: 9px;
  width: 260px;
  margin: 0 auto;
  padding-top: 25px;
}

.page-footer__footer-logo {
  display: none;
}

.page-footer__copyright {
  padding-top: 23px;
  border-top: 1px solid #e5e5e5;
}

.page-footer__copyright--link {
  text-decoration: none;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  padding-right: 57px;
  position: relative;

  &:hover svg {
    fill: #46c1ae;
  }

  &:active {
    color: #a8a8a8;
  }

  &:active svg {
    fill: #bde3dd;
  }
}

.page-footer__copyright--link svg {
  position: absolute;
  right: 1px;
  top: -1px;
  fill: #63d1bb;
}

@media (min-width: 768px) {
  .page-footer {
    width: auto;
    margin: 0;
  }

  .page-footer__wrapper {
    padding: 0;
    padding-top: 48px;
    padding-bottom: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include container;
  }

  .page-footer__footer-logo {
    display: block;
    margin-top: -10px;
  }

  .page-footer__copyright {
    padding-top: 0;
    margin-top: 12px;
    border-top: none;
  }

  .page-footer__copyright--link {
    padding-right: 110px;
  }

  .page-footer__copyright--link svg {
    right: -56px;
  }
}
