.page-title {
  background-color: #f1f1f1;
  text-align: center;
  width: auto;

  &--content {
    font-size: 27px;
    line-height: 30px;
    margin: 0;
  }
}

.page-title__wrapper {
  padding-top: 70px;
  padding-bottom: 75px;
  // background-color: #DBFFF5; /*временное оформление*/
  @include container;
}

@media (min-width: 768px) {
  .page-title {
    width: auto;
    margin: 0;
  }

  .page-title__wrapper {
    padding: 0;
    padding-top: 94px;
    padding-bottom: 75px;
    padding-left: 10px;
  }


  .page-title {
    &--content {
      font-size: 43px;
      line-height: 50px;
      margin: 0;
    }
  }
}

@media (min-width: 1150px) {
  .page-title__wrapper {
    padding-top: 94px;
    padding-bottom: 101px;
    padding-left: 5px;
  }

  .page-title {
    &--content {
      font-size: 53px;
      line-height: 57px;
    }
  }
}
