.page-footer {
  // background-color: #f1f1f1;
  // box-shadow: 0 0 0 3px green inset; /*временное оформление*/
  // padding-top: 30px;
  // padding-bottom: 30px;
  // @include container;
  width: 320px;
  margin: 0 auto;
}

.page-footer__wrapper {
  padding: 30px;
  background-color: #FFDBE5; /*временное оформление*/
}

.page-footer__footer-logo {
  display: none;
}

.page-footer__copyright--link {
  text-decoration: none;
  font-size: 19px;
  line-height: 18px;
  font-weight: 800;
  color: #000000;
  padding-right: 57px;
}

.page-footer__container {
  padding: 0 30px;
}

@media (min-width: 768px) {
  .page-footer {
    width: auto;
    margin: 0;
  }

  .page-footer__wrapper {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 143px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include container;
  }

  .page-footer__footer-logo {
    display: block;
  }

  .page-footer__container {
    padding: 0 50px;
  }
}
