.popular-product {
  width: auto;
  position: relative;

  &::before{
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 8px;
    background: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: contain;
  }
}

.popular-product__wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 30px;
  padding-top: 27px;
  padding-bottom: 42px;
}

.popular-product__title {
  &--main {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 4px;
  }

  &--color {
    font-size: 17px;
    line-height: 20px;
    color: #63d1bb;
    text-transform: uppercase;
  }
}

.popular-product__title-wrapper {
  margin-bottom: 20px;
}

.popular-product__description {
  font-size: 15px;
  color: #444444;
  margin-bottom: 17px;
}

.popular-product__settings {
  font-size: 15px;
  color: #444444;
  border-collapse: collapse;
  margin-bottom: 26px;
}

.popular-product__item,
.popular-product__value {
  border-bottom: 1px solid #ececec;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-right: 28px;
}

.popular-product__picture {
  margin-bottom: 2px;
}

.popular-product__price {
  color: #444444;
  font-weight: 700;
  text-align: center;
  margin-bottom: 27px;
}

@media (min-width: 768px) {
  .popular-product {
    width: auto;
    margin: 0;

    &::before{
      height: 17px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 23px;
      z-index: 1;
      background-image: url(../img/bg-zigzag-fill.svg);
      background-repeat: repeat-x;
      background-position: -15px 0;
      background-size: auto 23px;
      top: -10px;
    }
  }

  .popular-product__wrapper {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    padding-bottom: 50px;
    padding-top: 26px;
    @include container;
  }

  .popular-product__title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  .popular-product__title {
    &--main {
      font-size: 43px;
      line-height: 50px;
      margin-top: 20px;
      margin-left: -3px;
    }

    &--color {
      margin-top: 31px;
      margin-right: 23px;
      width: 80px;
      line-height: 17px;
      text-align: center;
    }
  }

  .popular-product__description-wrapper {
    width: 292px;
    margin-right: 44px;
    margin-left: -2px;
    display: flex;
    flex-direction: column;
  }

  .popular-product__description {
    margin-bottom: 36px;
    font-size: 17px;
    line-height: 30px;
  }

  .popular-product__settings {
    margin-bottom: 36px;
    width: 290px;
  }

  .popular-product__item {
    width: 10px;
  }

  .popular-product__value {
    text-align: left;
  }

  .popular-product__item,
  .popular-product__value {
    border-bottom: 1px solid #ececec;
    padding-bottom: 8px;
    padding-top: 7px;
  }

  .popular-product__picture {
    width: 333px;/*временное оформление*/
    height: 404px;/*временное оформление*/
    position: absolute;
    right: 0;
    padding-top: 25px;
  }

  .popular-product__price {
    margin-bottom: 34px;
    margin-left: 5px;
    font-size: 20px;
  }
}

@media (min-width: 1150px) {
  .popular-product {
    width: auto;
    margin: 0;

    &::before{
      height: 23px;
    }

    &::after {
      background-size: auto 34px;
      top: -17px;
    }
  }

  .popular-product__wrapper {
    padding-bottom: 93px;
  }

  .popular-product__picture {
    width: 525px;/*временное оформление*/
    height: 636px;/*временное оформление*/
    top: 47px;
  }

  .popular-product__description-wrapper {
    margin-left: 0;
    padding-left: 175px;
    width: 292px;
  }

  .popular-product__title-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin-top: 78px;
  }

  .popular-product__title {
    &--main {
      font-size: 53px;
      line-height: 57px;
      z-index: 1;
    }

    &--color {
      padding-top: 5px;
      padding-right: 30px;
      padding-left: 40px;
    }
  }

  .popular-product__description {
    margin-bottom: 48px;
  }

  .popular-product__settings {
    width: 292px;
    margin-bottom: 90px;
  }
}
