.product {
  margin-bottom: 30px;
}

.product:last-child {
  margin-bottom: 0;
}

.product__info {
  padding: 27px;
  padding-bottom: 18px;
  border: 1px solid #ededed;
}

.product__title {
  margin: 0;
}

.product__description {
  margin-top: 5px;
  margin-bottom: 19px;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.product__price {
  padding-top: 21px;
  font-size: 15px;
  font-weight: 800;
  border-top: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
}

.product__title--link {
  font-size: 17px;
  text-decoration: none;
  color: #000000;
}

.product__picture {
  margin-bottom: -6px;
}

.product__buy {
  font-size: 0;
  right: 0;

  &:hover svg {
    fill: #63d1bb;
  }

  &:active svg {
    fill: #d0f1ea;
  }
}

.product img {
  margin-bottom: -6px;
}

@media (min-width: 768px) {
  .product {
    display: flex;
    margin-bottom: 54px;
  }

  .product__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 26px;
  }

  .product img {
    width: 334px;/*временное оформление*/
    height: 334px;/*временное оформление*/
  }

  .product__title--link {
    font-size: 20px;

    &:hover {
      color: #666666;
    }

    &:active {
      color: #b2b2b2;
    }
  }

  .product__description {
    font-size: 15px;
  }

  .product__price {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding-left: 4px;
  }

  .product:last-child {
    margin-bottom: 54px;
  }

  .product__buy {
    margin-right: 5px;
  }
}

@media (min-width: 1150px) {
  .catalog__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .product {
    display: flex;
    flex-direction: column;
    width: 316px;
  }

  .product img {
    width: 316px;/*временное оформление*/
    height: 462px;/*временное оформление*/
  }

  .product__description {
    margin-bottom: 15px;
  }

  .product__price {
    padding-left: 0px;
    padding-bottom: 0px;
  }

  .product {
    padding-bottom: 0;

    &:hover {
      box-shadow: 0px 3px 22px 4px rgba(0,0,0,0.1);
    }

    &:active {
      box-shadow: 0px 3px 15px 1px rgba(0,0,0,0.1);
    }
  }
}
