.product {
  margin-bottom: 28px;
  background-color: #FFDBE5; /*временное оформление*/
}

.product__info {
  padding: 27px;
  border: 1px solid #ededed;
}

.product__title {
  margin: 0;
}

.product__description {
  margin-top: 5px;
  margin-bottom: 19px;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.product__price {
  padding-top: 21px;
  font-size: 15px;
  font-weight: 800;
  border-top: 1px solid #ececec;
}

.product__title--link {
  font-size: 17px;
  text-decoration: none;
  color: #000000;
}

.product__picture {
  margin-bottom: -6px;
}

@media (min-width: 768px) {
  .product {
    display: flex;
  }

  .product__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .product img {
    width: 334px;/*временное оформление*/
    height: 334px;/*временное оформление*/
  }

  .product__title--link {
    font-size: 20px;
  }

  .product__description {
    font-size: 15px;
  }

  .product__price {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
}

@media (min-width: 1150px) {
  .catalog__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .product {
    display: flex;
    flex-direction: column;
    width: 316px;
  }

  .product img {
    width: 316px;/*временное оформление*/
    height: 462px;/*временное оформление*/
  }

  .product__description {
    margin-bottom: 40px;
  }
}
