.reviews {
  width: auto;
  margin: 0;
  position: relative;

  &::before{
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 8px;
    background: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: contain;
  }
}

.reviews__wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 30px;
  padding-top: 25px;
  padding-bottom: 52px;
}

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 22px;
}

.reviews__comment {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 29px;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 32px;
}

.reviews__author-account {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
}

.reviews__slider {
  height: 50px;
  margin-bottom: 37px;
  border: 1px solid #ececec;
  display: flex;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 50px;
    background-color: #ececec;
    left: 50%;
  }
}

.reviews__slider button {
  font-size: 0;
  width: 50%;
  cursor: pointer;
  background-color: transparent;
  border: none;

  &:hover {
    fill: #666666;
  }

  &:active {
    fill: #b2b2b2;
  }
}

@media (min-width: 768px) {
  .reviews {
    width: auto;
    margin: 0;
    padding-bottom: 102px;

    &::before{
      height: 17px;
    }
  }

  .reviews__wrapper {
    padding: 0;
    padding-top: 21px;
    display: flex;
    flex-direction: column;
    position: relative;
    @include container;

    &::before {
      content: "";
      position: absolute;
      top: -57px;
      left: -50px;
      width: 350px;
      height: 457px;
      z-index: -1;
      background-image: url(../img/review@1x.jpg);
      background-repeat: no-repeat;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url(../img/review@2x.jpg);
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 32px;
    margin-left: -4px;
  }

  .reviews__comment {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 58px;
  }

  .reviews__author-name {
    display: flex;
    flex-direction: column;
  }

  .btn-reviews {
    width: 171px;
    position: absolute;
    right: 0;
    margin-top: 2px;
  }

  .reviews__slider  {
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 174px;
    border: none;
    &::before {
      content: none;
    }
  }
}

@media (min-width: 1150px) {
  .reviews {
    padding-bottom: 155px;
    &::before{
      height: 23px;
    }
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    margin-left: 171px;
    margin-top: 3px;
  }

  .reviews__comment {
    margin-left: 175px;
    padding-right: 100px;
    margin-bottom: 39px;
  }

  .reviews__author-name {
    display: flex;
    flex-direction: column;
    margin-left: 175px;
  }

  .btn-reviews {
    width: 171px;
    position: absolute;
    right: 0;
    margin-top: 11px;
  }

  .reviews__wrapper {
    &::before {
      top: -47px;
      left: 0px;
    }
  }

  .reviews__slider  {
    bottom: -3px;
  }
}
