.video {
  width: 320px;
  margin: 0 auto;
}

.video__wrapper {
  position: relative;
  padding: 30px;
  padding-top: 14px;
  padding-bottom: 59px;
}

.video__content {
  border: 1px solid #ececec;
}

.video__title {
  font-size: 17px;
  padding-left: 89px;
  position: absolute;
  top: 25px;
  left: 30px;
}

.video__description {
  font-size: 13px;
  color: #444444;
  margin-bottom: 50px;
}

.video__description-wrapper {
  padding: 32px;
  padding-top: 7px;

}

.video__player {
  margin-left: -1px;
  margin-top: 95px;
  position: relative;
}

.play-btn {
  position: absolute;
  top: 40px;
  left: 80px;
  font-size: 0;
  width: 102px;
  height: 78px;
  cursor: pointer;
  background: transparent;
  border: none;
  background-image: url(../img/icon-play.svg);

  &:hover {
    width: 121px;
    height: 92px;
    top: 31px;
    left: 74px;
    background-size: 121px 92px;
  }

  &:active {
    width: 81px;
    // height: 86px;
    opacity: 0.9;
    top: 35px;
    left: 90px;
    background-size: 81px 86px;
  }
}

.video__title-icon {
  position: absolute;
  left: 34px;
  top: 6px;
  fill: #63d1bb;
}

@media (min-width: 768px) {
  .video {
    width: auto;
    margin: 0;
  }

  .video__wrapper {
    @include container;
    padding: 0;
    padding-bottom: 63px;
  }

  .video__content {
    display: flex;
    flex-direction: column;
  }

  .video__title {
    font-size: 20px;
    padding-left: 64px;
    margin-bottom: 46px;
    position: relative;
    left: 0;
    top: 15px;
  }

  .video__description-wrapper {
    padding: 0 41px;
    padding-bottom: 45px;
  }

  .video__description {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 36px;
  }

  .video__player {
    margin: 0;
    margin-left: -1px;
    padding-top: 0;
  }

  .video__player img {
    width: 668px;/*временное оформление*/
    height: 455px;/*временное оформление*/
  }

  .video__title-icon {
    left: 0px;
    top: -5px;
  }

  .play-btn {
    top: 195px;
    left: 284px;

    &:hover {
      width: 121px;
      height: 92px;
      top: 185px;
      left: 276px;
      background-size: 121px 92px;
    }

    &:active {
      width: 81px;
      // height: 86px;
      opacity: 0.9;
      top: 195px;
      left: 294px;
      background-size: 81px 68px;
      // ie
      height: 68px;
    }
  }
}

@media (min-width: 1150px) {
  .video__wrapper {
    padding-top: 1px;
    padding-bottom: 104px;
  }

  .video__content {
    display: flex;
    flex-direction: row;

    &:hover {
      box-shadow: 0px 3px 22px 4px rgba(0,0,0,0.1);
    }

    &:active {
      box-shadow: 0px 3px 15px 1px rgba(0,0,0,0.1);
    }
  }

  .video__description-wrapper {
    padding-left: 78px;
    padding-top: 63px;
    padding-right: 56px;
  }

  .video__title {
    font-size: 20px;
    padding-left: 0;
    padding-right: 80px;
  }

  .video__description {
    font-size: 15px;
    margin-bottom: 48px;
  }

  .video__player img {
    width: 682px;/*временное оформление*/
    height: 455px;/*временное оформление*/
  }

  .video__player {
    height: 454px;
  }

  .video__title-icon {
    left: 2px;
    top: -55px;
  }

  .play-btn {
    top: 190px;
    left: 299px;

    &:hover {
      width: 121px;
      height: 92px;
      top: 180px;
      left: 292px;
      background-size: 121px 92px;
    }

    &:active {
      width: 81px;
      // height: 86px;
      opacity: 0.9;
      top: 189px;
      left: 305px;
      background-size: 81px 68px;
      // ie
      height: 68px;
    }
  }
}
