.video {
  // padding-top: 26px;
  // padding-bottom: 58px;
  // box-shadow: 0 0 0 3px red inset; /*временное оформление*/
  width: 320px;
  margin: 0 auto;
}

.video__wrapper {
  background-color: #F7FFDB; /*временное оформление*/
  position: relative;
  padding: 30px;
  // @include container;
}

.video__content {
  // width: 260px;
  // margin: 0 auto;
  border: 1px solid #ececec;
}

.video__title {
  font-size: 17px;
  padding-left: 89px;
  padding-top: 10px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.video__description {
  font-size: 13px;
  color: #444444;
}

.video__description-wrapper {
  padding: 30px;
  padding-top: 0;
}

.video__player {
  margin-left: -1px;
  margin-top: 98px;
  position: relative;
}

.play-btn {
  position: absolute;
  top: 40%;/*временное оформление*/
  left: 40%;/*временное оформление*/
}

@media (min-width: 768px) {
  .video {
    width: auto;
    margin: 0;
  }

  .video__wrapper {
    @include container;
    padding: 0;
  }

  .video__content {
    display: flex;
    flex-direction: column;
  }

  .video__title {
    font-size: 20px;
    padding-left: 90px;
    margin-bottom: 30px;
    position: relative;
    left: 0;
    top: 0;
  }

  .video__description {
    font-size: 15px;
    line-height: 30px;
  }

  .video__player {
    margin: 0;
    margin-left: -1px;
    padding-top: 0;
  }

  .video__player img {
    width: 668px;/*временное оформление*/
    height: 455px;/*временное оформление*/
  }
}

@media (min-width: 1150px) {
  .video__content {
    display: flex;
    flex-direction: row;
  }

  .video__description-wrapper {
    padding: 60px;
  }

  .video__title {
    font-size: 20px;
    padding-left: 0;
    padding-right: 80px;
  }

  .video__description {
    font-size: 15px;
    margin-bottom: 45px;
  }

  .video__player img {
    width: 682px;/*временное оформление*/
    height: 455px;/*временное оформление*/
  }
}
