.video {
  width: 320px;
  margin: 0 auto;
}

.video__wrapper {
  // background-color: #F7FFDB; /*временное оформление*/
  position: relative;
  padding: 30px;
  padding-top: 14px;
  padding-bottom: 59px;
}

.video__content {
  border: 1px solid #ececec;
}

.video__title {
  font-size: 17px;
  padding-left: 89px;
  position: absolute;
  top: 25px;
  left: 30px;
}

.video__description {
  font-size: 13px;
  color: #444444;
  margin-bottom: 50px;
}

.video__description-wrapper {
  padding: 32px;
  padding-top: 7px;

}

.video__player {
  margin-left: -1px;
  margin-top: 95px;
  position: relative;
}

.play-btn {
  position: absolute;
  top: 40%;/*временное оформление*/
  left: 40%;/*временное оформление*/
}

@media (min-width: 768px) {
  .video {
    width: auto;
    margin: 0;
  }

  .video__wrapper {
    @include container;
    padding: 0;
    padding-bottom: 63px;
  }

  .video__content {
    display: flex;
    flex-direction: column;
  }

  .video__title {
    font-size: 20px;
    padding-left: 64px;
    margin-bottom: 46px;
    position: relative;
    left: 0;
    top: 15px;
  }

  .video__description-wrapper {
    padding: 0 41px;
    padding-bottom: 45px;
  }

  .video__description {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 36px;
  }

  .video__player {
    margin: 0;
    margin-left: -1px;
    padding-top: 0;
  }

  .video__player img {
    width: 668px;/*временное оформление*/
    height: 455px;/*временное оформление*/
  }
}

@media (min-width: 1150px) {
  .video__wrapper {
    padding-top: 3px;
    padding-bottom: 104px;
  }

  .video__content {
    display: flex;
    flex-direction: row;
  }

  .video__description-wrapper {
    padding-left: 78px;
    padding-top: 63px;
    padding-right: 56px;

    &:hover {
      box-shadow: 3px 0px 22px 4px rgba(0,0,0,0.1);
    }

    &:active {
      box-shadow: 3px 0px 10px 2px rgba(0,0,0,0.1);
    }
  }

  .video__title {
    font-size: 20px;
    padding-left: 0;
    padding-right: 80px;
  }

  .video__description {
    font-size: 15px;
    margin-bottom: 48px;
  }

  .video__player img {
    width: 682px;/*временное оформление*/
    height: 455px;/*временное оформление*/
  }

  .video__player {
    height: 454px;
  }
}
